<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
</style>

<header class="assessment-header assessment-header--action-profile no-print">
	<div class="assessment-header__flex-container">
		<div class="navigation-container">
			<div class="navigation-flex-container">
				<div>
					<a class="home-button" href="/"/><span class="a11y">home</span><i class="fa-solid fa-repeat fa-2x"></i></a>
				</div>
				<div>
					<h1>Assessment Profile</h1>
				</div>
				<div>
					<button class="download-button download-pdf-button"><span class="a11y">export action pdf</span><i class="fa-regular fa-file-pdf fa-2x"></i></button>
				</div>
			</div>
		</div>
	</div>
</header>
{{>assessmentProfileBody}}

<div id="restartModal" class="modal fade" tabindex="-1" aria-labelledby='restartModalLabel' aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restartModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="restart-form" action="/app/" method="GET"></form>
        <p>Assessments are only kept for a short amount of time.</p>
        <br>
        <p>Remember to export the current assessment using the button in the top right.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="restart-form" class="btn btn-primary">Start Again</button>
      </div>
    </div>
  </div>
</div>
