<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
</style>

<header class="assessment-header assessment-header--action-profile no-print">
	<div class="assessment-header__flex-container">
		<div class="navigation-container">
			<div class="navigation-flex-container">
				<div>
					<a class="home-button" href="/"/><span class="a11y">home</span><i class="fa-solid fa-house fa-2x"></i></a>
				</div>
				<div>
					<h1>Assessment Profile</h1>
				</div>
				<div>
          <a class="edit-button" href="/app/info"><span class="a11y">Start new assessment</span><i class="fa-solid fa-pen fa-2x"></i></a>
					<button class="download-button download-pdf-button"><span class="a11y">export action pdf</span><i class="fa-regular fa-file-pdf fa-2x"></i></button>
				</div>
			</div>
		</div>
	</div>
</header>
{{>assessmentProfileBody}}
