</div>
	<div id="banner" class="container">
		<div class="title">
			<h2></h2>
			<span class="byline"></span>
		</div>
	</div>
</div>

<div id="wrapper">
	<h1>{{title}}</h1>
	<p>Welcome to {{title}} the easiest method to generate the SDG targets that a project meets</p>
	<p>call to action button</p>
</div>
<div id="welcome">
</div>
