<style>
  body { padding: 0; }
  #title-link { text-decoration: none; color: inherit; }
  header { display: flex; justify-content:space-between; align-items:center; height: 5rem; padding: 0 1rem; }
  header h1 { border-bottom: none; }
  header img { width: 2rem; height: 2rem; margin: 0; max-width: inherit; border-radius: 100%; }
  .right { display: flex; }
  header h2,header p { margin: 1rem; }
  hr { margin: 0; background: #ddd; }
  .accent {color: #007474;}
</style>

<header>
  <a id="title-link" href="/"><h1>Fund<span class="accent">4</span>Action</h1></a>

  <div class="right">
    {{#unless user}}
    <a href="/login">Get Started</a>
    {{else}}
    <a id="profile-image" href="/profile">
      {{#if profile.logo_url}}
        <img alt="profile image" src="{{profile.logo_url}}"/>
      {{else}}
        <img alt="profile image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDc0NzQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtdXNlci1yb3VuZC1pY29uIGx1Y2lkZS1jaXJjbGUtdXNlci1yb3VuZCI+PHBhdGggZD0iTTE4IDIwYTYgNiAwIDAgMC0xMiAwIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iNCIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PC9zdmc+"/>
      {{/if}}
    </a>
    {{/unless}}
  </div>
</header>
<hr>
