<style>
  .project-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #000;
  }

  .project-row a {
    margin: 1rem;
  }

  .project-links{
    display: flex;
  }
</style>

<div class="project-row">
  <p>{{this.name}}</p>
  <div class="project-links">
    <a href="/project/{{this.slug}}">view</a>
    <a href="/project/{{this.slug}}/edit">edit</a>
    <a href="/project/{{this.slug}}/delete">delete</a>
  </div>
</div>
