{{> header}}

<style>
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
</style>

<main>
    <h1>How is this site sustainable?</h1>
    <pre>
        There are 3 main things to consider when creating a sustainable website like Fund4Action:

        1. Reduce - Only include what is impactful on the website. Everything added to the website increases its energy usage and thus CO2 emissions. Avoid huge videos and images, and instead use lightweight alternatives like SVGs which have a much smaller file size. 

        2. Optimise - Compress images and optimise code.

        3. Green Hosting  - Find a hosting provider which is energy efficient and powered on 100% renewable energy. This site is hosted with Krystal which runs on 100% rewewable energy from sun, wind, and sea. 

        For more on how to create a sustainable site, we recommend the following resources:
        - <a href="https://sustainablewebdesign.org/" target="_blank">Sustainable Web Design</a>
        - <a href="https://sustainablewww.org/" target="_blank">Sustainable WWW</a>

        To check how sustainable your website is we recommend:
        - <a href="https://www.websitecarbon.com/" target="_blank">Website Carbon</a>
    </pre>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>