{{> header}}

<main>
  <link rel="stylesheet" href="/styles/normform.min.css"/>

  {{#if this.locationError}}
    <style>#error-msg {: 1rem; color: red;}</style>
    <span><p id="error-msg">There was a problem finding the address, please try again</p></span>
  {{/if}}


  <h1>Create your action page</h1>

  <form class="normform">
    <label for="name">Action Name</label>
    <input type="text" id="name" name="name" required>

    <label for="image-url">Image URL</label>
    <input type="url" id="iamge-url" name="image-url" placeholder="https://example.com">

    <label for="location">Action Address</label>
    <input type="text" id="address" name="address" required>

    <label for="overview">Action Overview</label>
    <textarea rows="5" id="overview" name="overview"></textarea>

    <label for="start-date">Start Date</label>
    <input type="date" id="start-date" name="start-date" required>

    <label for="end-date">End Date</label>
    <input type="date" id="end-date" name="end-date" required>

    <label>Action Category</label>

    <input type="checkbox" id="category-community" name="category" value="Community Celebrations and Festivals">
    <label for="category-community">Community Celebrations and Festivals</label>

    <input type="checkbox" id="category-historical" name="category" value="Historical Preservation and Restoration">
    <label for="category-historical">Historical Preservation and Restoration</label>

    <input type="checkbox" id="category-cultural" name="category" value="Cultural Workshops and Events">
    <label for="category-cultural">Cultural Workshops and Events</label>

    <input type="checkbox" id="category-environmental" name="category" value="Environmental Conservation and Restoration">
    <label for="category-environmental">Environmental Conservation and Restoration</label>

    <input type="checkbox" id="category-educational" name="category" value="Educational Initiatives">
    <label for="category-educational">Educational Initiatives</label>

    <input type="checkbox" id="category-digital" name="category" value="Digital and Media Actions">
    <label for="category-digital">Digital and Media Actions</label>

    <input type="checkbox" id="category-indigenous" name="category" value="Indigenous Knowledge and Language Revival">
    <label for="category-indigenous">Indigenous Knowledge and Language Revival</label>

    <input type="checkbox" id="category-natural" name="category" value="Natural Site Enhancement and Cleanup">
    <label for="category-natural">Natural Site Enhancement and Cleanup</label>

    <fieldset>
      <legend>Impact</legend>
      <label>Completing this section will help you increase the funding you recieve</label>
      <br>

      <label>Beauty</label>

      <input type="checkbox" id="activate_1" name="beauty_ambition" value="activate_1">
      <label for="activate_1">The project considered the comfort of its users (e.g. in terms of materials, light, air, noise.)</label>

      <input type="checkbox" id="activate_2" name="beauty_ambition" value="activate_2">
      <label for="activate_2">The project considered sensory perceptions (visual, auditory, tactile, and olfactory) and emotional sensibility.</label>

      <input type="checkbox" id="activate_3" name="beauty_ambition" value="activate_3">
      <label for="activate_3">The project reflected regional/local particularities and call upon local materials and skills.</label>

      <input type="checkbox" id="activate_4" name="beauty_ambition" value="activate_4">
      <label for="activate_4">The project made its own aesthetic choices (e.g. in terms of composition, colours, balance, or material compatibility).</label>

      <input type="checkbox" id="connect_1" name="beauty_ambition" value="connect_1">
      <label for="connect_1">The project provided attractive and comfortable spaces that bring people together in diverse settings.</label>

      <input type="checkbox" id="connect_2" name="beauty_ambition" value="connect_2">
      <label for="connect_2">The project gave a sense of community to people with different backgrounds and perspectives, strengthening the sense of community.</label>

      <input type="checkbox" id="connect_3" name="beauty_ambition" value="connect_4">
      <label for="connect_3">The project gave opportunities to learn about new ideas, places, or people.</label>

      <input type="checkbox" id="connect_4" name="beauty_ambition" value="connect_4">
      <label for="connect_4">The project was interactive, offering opportunities for encounters or discoveries.</label>

      <input type="checkbox" id="integrate_1" name="beauty_ambition" value="integrate_1">
      <label for="integrate_1">The participants were able to question and reimagine their way of life through the project.</label>

      <input type="checkbox" id="integrate_2" name="beauty_ambition" value="integrate_2">
      <label for="integrate_2">the project generated new fulfilling habits.</label>

      <input type="checkbox" id="integrate_3" name="beauty_ambition" value="integrate_3">
      <label for="integrate_3">There was a reflection on the future needs of the project’s users favouring long-term thinking.</label>

      <input type="checkbox" id="integrate_4" name="beauty_ambition" value="integrate_4">
      <label for="integrate_4">The project had a positive transformative effect on the participants’ lives.</label>

      <label>Sustainable</label>

      <input type="checkbox" id="repurpose_1" name="sustain_ambition" value="repurpose_1">
      <label for="repurpose_1">The project solved its needs in a less material intensive way.</label>

      <input type="checkbox" id="repurpose_2" name="sustain_ambition" value="repurpose_2">
      <label for="repurpose_2">The project is intended for mid to long-term use, either through renovation, repair, or upgrades.</label>

      <input type="checkbox" id="repurpose_3" name="sustain_ambition" value="repurpose_3">
      <label for="repurpose_3">The impact on the environment of the project be lowered, e.g. by decreasing the use of energy, water, pesticides, CO2 or other harmful substances</label>

      <input type="checkbox" id="repurpose_4" name="sustain_ambition" value="repurpose_4">
      <label for="repurpose_4">Components or elements were replaced by a natural material or other less harmful resources.</label>

      <input type="checkbox" id="repurpose_5" name="sustain_ambition" value="repurpose_5">
      <label for="repurpose_5">The project prioritized renewable energy solutions favourable to biodiversity.</label>

      <input type="checkbox" id="close_loop_1" name="sustain_ambition" value="close_loop_1">
      <label for="close_loop_1">The initiative worked with circular economy principles, e.g. with closing the whole material cycle or waste transformation.</label>

      <input type="checkbox" id="close_loop_2" name="sustain_ambition" value="close_loop_2">
      <label for="close_loop_2">All stakeholders were in the cycle working together.</label>

      <input type="checkbox" id="close_loop_3" name="sustain_ambition" value="close_loop_3">
      <label for="close_loop_3">There was an overview of the carbon impact, material, energy or water waste streams before, during and after the use of the product/building/intervention.</label>

      <input type="checkbox" id="close_loop_4" name="sustain_ambition" value="close_loop_4">
      <label for="close_loop_4">There was a zero-pollution action plan e.g. for air, water & soil.</label>

      <input type="checkbox" id="close_loop_5" name="sustain_ambition" value="close_loop_5">
      <label for="close_loop_5">The project looked at indirect impacts across time and space and trade-offs between different sustainability measures.</label>

      <input type="checkbox" id="regenerate_1" name="sustain_ambition" value="regenerate_1">
      <label for="regenerate_1">The initiative gave back more than it takes, e.g. by carbon storage in buildings.</label>

      <input type="checkbox" id="regenerate_2" name="sustain_ambition" value="regenerate_2">
      <label for="regenerate_2">There was an understanding of the inner working of a (natural) ecosystem that could restore the landscape or biodiversity.</label>

      <input type="checkbox" id="regenerate_3" name="sustain_ambition" value="regenerate_3">
      <label for="regenerate_3">There was a vision on societal change by behavioural change or a mention of a paradigm shift.</label>

      <label>Together</label>

      <input type="checkbox" id="include_1" name="together_ambition" value="include_1">
      <label for="include_1">The project is easily and equally accessible.</label>

      <input type="checkbox" id="include_2" name="together_ambition" value="include_2">
      <label for="include_2">The project is affordable.</label>

      <input type="checkbox" id="include_3" name="together_ambition" value="include_3">
      <label for="include_3">The project considered the needs of less represented communities.</label>

      <input type="checkbox" id="consolidate_1" name="together_ambition" value="consolidate_1">
      <label for="consolidate_1">The project secured social justice over time.</label>

      <input type="checkbox" id="consolidate_2" name="together_ambition" value="consolidate_2">
      <label for="consolidate_2">The project offered equal resources and opportunities.</label>

      <input type="checkbox" id="consolidate_3" name="together_ambition" value="consolidate_3">
      <label for="consolidate_3">The project helped to overcome segregation between different communities.</label>

      <input type="checkbox" id="transform_1" name="together_ambition" value="transform_1">
      <label for="transform_1">The project promoted new ways of living together.</label>

      <input type="checkbox" id="transform_2" name="together_ambition" value="transform_2">
      <label for="transform_2">The project broke obsolete and unjust social models.</label>

      <label>Participatory Process</label>

      <input type="checkbox" id="consult_1" name="working_ambition_particip_process" value="consult_1">
      <label for="consult_1">The project kept stakeholders informed.</label>

      <input type="checkbox" id="consult_2" name="working_ambition_particip_process" value="consult_2">
      <label for="consult_2">There was an awareness of who might be excluded from the project.</label>

      <input type="checkbox" id="consult_3" name="working_ambition_particip_process" value="consult_3">
      <label for="consult_3">The project allowed stakeholders to contribute.</label>

      <input type="checkbox" id="co-develop_1" name="working_ambition_particip_process" value="co-develop_1">
      <label for="co-develop_1">The project processed stakeholder input.</label>

      <input type="checkbox" id="co-develop_2" name="working_ambition_particip_process" value="co-develop_2">
      <label for="co-develop_2">Those affected by the project were included in the decision-making.</label>

      <input type="checkbox" id="co-develop_3" name="working_ambition_particip_process" value="co-develop_3">
      <label for="co-develop_3">The project aimed to collaborate with stakeholders.</label>

      <input type="checkbox" id="co-develop_4" name="working_ambition_particip_process" value="co-develop_4">
      <label for="co-develop_4">The project reached out to those who are excluded from their activity.</label>

      <input type="checkbox" id="self-govern_1" name="working_ambition_particip_process" value="self-govern_1">
      <label for="self-govern_1">The project empowered and sustained grass-roots initiatives beyond project implementation.</label>

      <input type="checkbox" id="self-govern_2" name="working_ambition_particip_process" value="self-govern_2">
      <label for="self-govern_2">The project aimed to allow stakeholders to take (legal) ownership.</label>

      <input type="checkbox" id="self-govern_3" name="working_ambition_particip_process" value="self-govern_3">
      <label for="self-govern_3">The project owners aimed to make themselves redundant, enabling a community to take agency.</label>

      <input type="checkbox" id="self-govern_4" name="working_ambition_particip_process" value="self-govern_4">
      <label for="self-govern_4">The project took measures to include those affected by a design and to ensure representation in decision-making.</label>

      <label>Multilevel Engagement</label>

      <input type="checkbox" id="work_locally_1" name="working_ambition_multi-level_engagement" value="work_locally_1">
      <label for="work_locally_1">The project interacted with local networks and collectives.</label>

      <input type="checkbox" id="work_locally_2" name="working_ambition_multi-level_engagement" value="work_locally_2">
      <label for="work_locally_2">The project aimed at influencing the local living environment.</label>

      <input type="checkbox" id="work_locally_3" name="working_ambition_multi-level_engagement" value="work_locally_3">
      <label for="work_locally_3">The project cultivated a place-based approach.</label>

      <input type="checkbox" id="work_across_1" name="working_ambition_multi-level_engagement" value="work_across_1">
      <label for="work_across_1">The project interacted with networks and/or institutions that are active beyond the scale of the projects itself (e.g. from local to regional, from national to international...).</label>

      <input type="checkbox" id="work_across_2" name="working_ambition_multi-level_engagement" value="work_across_2">
      <label for="work_across_2">The project worked at different scales (e.g. neighbourhood and the city, one single school with a network of national schools...).</label>

      <input type="checkbox" id="work_across_3" name="working_ambition_multi-level_engagement" value="work_across_3">
      <label for="work_across_3">The project aimed at having an influence across different scales.</label>

      <input type="checkbox" id="work_globally_1" name="working_ambition_multi-level_engagement" value="work_globally_1">
      <label for="work_globally_1">The project aimed at reaching a global, transformational impact.</label>

      <input type="checkbox" id="work_globally_2" name="working_ambition_multi-level_engagement" value="work_globally_2">
      <label for="work_globally_2">The project considered the local impact putting it in perspective with the future of the entire ecosystem.</label>
      
      <label>Transdisciplinary</label>

      <input type="checkbox" id="multidisciplinary_1" name="working_ambition_transdisciplinary" value="multidisciplinary_1">
      <label for="multidisciplinary_1">The project worked with different disciplines.</label>

      <input type="checkbox" id="multidisciplinary_2" name="working_ambition_transdisciplinary" value="multidisciplinary_2">
      <label for="multidisciplinary_2">There was a common problem definition, shared between different stakeholders.</label>

      <input type="checkbox" id="multidisciplinary_3" name="working_ambition_transdisciplinary" value="multidisciplinary_3">
      <label for="multidisciplinary_3">Several different educational backgrounds were involved.</label>

      <input type="checkbox" id="multidisciplinary_4" name="working_ambition_transdisciplinary" value="multidisciplinary_4">
      <label for="multidisciplinary_4">The project worked in different distance between disciplines, e.g. urban planners working with architects (small distance) or biologists working with artists (large distance).</label>

      <input type="checkbox" id="interdisciplinary_1" name="working_ambition_transdisciplinary" value="interdisciplinary_1">
      <label for="interdisciplinary_1">The communication intensity was managed between disciplines.</label>

      <input type="checkbox" id="interdisciplinary_2" name="working_ambition_transdisciplinary" value="interdisciplinary_2">
      <label for="interdisciplinary_2">There was a new knowledge creation.</label>

      <input type="checkbox" id="interdisciplinary_3" name="working_ambition_transdisciplinary" value="interdisciplinary_3">
      <label for="interdisciplinary_3">The results were integrated between each other.</label>

      <input type="checkbox" id="beyond_disciplinary_1" name="working_ambition_transdisciplinary" value="beyond_disciplinary_1">
      <label for="beyond_disciplinary_1">Non-formal knowledge partners were involved in the knowledge creation.</label>

      <input type="checkbox" id="beyond_disciplinary_2" name="working_ambition_transdisciplinary" value="beyond_disciplinary_2">
      <label for="beyond_disciplinary_2">Equal value was given to formal and informal knowledge.</label>

      <input type="checkbox" id="beyond_disciplinary_3" name="working_ambition_transdisciplinary" value="beyond_disciplinary_3">
      <label for="beyond_disciplinary_3">There was a common goal and a plan to reach it collectively.</label>

      <input type="checkbox" id="beyond_disciplinary_4" name="working_ambition_transdisciplinary" value="beyond_disciplinary_4">
      <label for="beyond_disciplinary_4">There was a collaborative process put in place that facilitates the merging of different knowledge fields.</label>

    </fieldset>

    <fieldset>
      <legend>Funding</legend>

      <label for="target">Fundraising Target (€)</label>
      <input type="number" id="target" name="target" min="1" step="1" required>

      <label for="deadline">Deadline</label>
      <input type="date" id="deadline" name="deadline" required>
    </fieldset>

    <input type="submit" formmethod="post" value="Submit">
  </form>
</main>
