{{> header}}

<main>

  <link rel="stylesheet" href="/styles/normform.min.css"/>

  <h1>Create your action</h1>

  <label>Watch our video explainer of creating an action <a>here</a></label>

  <form class="normform">
    <br>

    <fieldset>
      <legend>Funding</legend>

      <label>Consider Best Practice for each category</label>
      <ul>
        {{#with action.category}}
        {{#if community_engagement}}
        <li><a href="/resource/action-categories#community-engagement" target="_blank">Community Engagement - Best Practice</a></li>
        {{/if}}
        {{#if cultural_celebrations}}
        <li><a href="/resource/action-categories#cultural-celebrations" target="_blank">Cultural Celebrations - Best Practice</a></li>
        {{/if}}
        {{#if ecosystem_conservation}}
        <li><a href="/resource/action-categories#ecosystem-conservation" target="_blank">Ecosystem Conservation - Best Practice</a></li>
        {{/if}}
        <li><a href="/resource/action-categories#education-and-awareness" target="_blank">Education and Awareness - Best Practice</a></li>
        {{#if environmental_education}}
        <li><a href="/resource/action-categories#environmental-education" target="_blank">Environmental Education - Best Practice</a></li>
        {{/if}}
        {{#if green_spaces_and_biodiversity}}
        <li><a href="/resource/action-categories#green-spaces-and-biodiversity" target="_blank">Green Spaces and Biodiversity - Best Practice</a></li>
        {{/if}}
        {{#if historic_building_preservation}}
        <li><a href="/resource/action-categories#historic-building-preservation" target="_blank">Historic Building Preservation - Best Practice</a></li>
        {{/if}}
        {{#if language_and_tradition}}
        <li><a href="/resource/action-categories#language-and-tradition" target="_blank">Language and Tradition - Best Practice</a></li>
        {{/if}}
        {{#if storytelling_and_documentation}}
        <li><a href="/resource/action-categories#storytelling-and-documentation" target="_blank">Storytelling and Documentation - Best Practice</a></li>
        {{/if}}
        {{#if traditional_cuisine_initiatives}}
        <li><a href="/resource/action-categories#traditional-cuisine-initiatives" target="_blank">Traditional Cuisine Initiatives - Best Practice</a></li>
        {{/if}}
        {{/with}}
      </ul>

      <label for="target">Total Cost of Action (€)</label>
      <input type="number" id="target" name="total" min="1" step="1" {{#if action.fundraising_total}}value="{{action.fundraising_total}}"{{/if}}>

      <label for="target">Fundraising Target (€)*</label>
      <input type="number" id="target" name="target" min="1" step="1" required {{#if action.fundraising_target}}value="{{action.fundraising_target}}"{{/if}}>

      <label for="deadline">Deadline*</label>
      <input type="date" id="deadline" name="deadline" required {{#if action.fundraising_deadline}}value="{{action.fundraising_deadline}}"{{/if}}>
    </fieldset>

    <input type="checkbox" id="terms-conditions" name="terms-conditions" value="terms-conditions" required>
    <label for="terms-conditions">Do you agree to our <a>terms and conditions</a>?</label>

    <input type="submit" formmethod="post" value="Submit">
  </form>
</main>
