{{> header}}

<main>
<h1>Verify Your Organisation</h1>

<p>Email <a href="mailto:hello@act-studio.com?subject=Fund4Act Verification Request {{user.id}}&body=Verification Code: {{user.id}}%0AAddress:" target="_blank">hello@act-studio.com</a> with the below information to become verified. Only verified users may create actions.</p>

<h4>Requirements</h4>
<ul>
  <li>Your Verification Code: <b>{{user.id}}</b></li>
  <li>Registered Office Address</li>
  <li>Constitution Document (<a href="/resource/constitution" target="_blank">see template</a>)</li>
  <li>Proof of Bank Account (<a href="/resource/bank-account" target="_blank">How to set up a bank account</a>)</li>
</ul>
</main>