{{> header}}

<style>
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
</style>

<main>
    <h1>Terms and Conditions: For a user signing up to become a Fund4ACT Action Creator</h1>
    <pre>
        1. Accuracy of Information:
        By signing up to the Fund4ACT Platform to become an Action Creator, you agree to provide accurate and up-to-date information about your community group/organisation. Any changes to your group/organisation's details should be promptly updated on the Fund4ACT Platform.

        2. Compliance with GDPR:
        Fund4ACT is committed to protecting your privacy and complying with the General Data Protection Regulation (GDPR). By using this platform, you acknowledge and agree to our Privacy Policy, outlining how your data will be collected, stored, and processed.

        3. Use of Information:
        The information you provide will be used solely for the purpose of facilitating pledging intent between Action Pledger and Action Creator on the Fund4ACT platform. We will not share your information with third parties without your explicit consent.

        4. Security Measures:
        Fund4ACT employs industry-standard security measures to protect your data. However, it is essential to keep your login credentials confidential, and you are responsible for any activities that occur under your account.

        5. Community Guidelines:
        Users are expected to adhere to community guidelines and standards of conduct. Any content that violates these guidelines may be subject to removal, and repeated violations may result in account suspension.

        6. Facilitation of Pledging Intent between Action Pledger and Action Creator:
        The Fund4ACT Platform serves as a facilitator for pledging intent between Action Pledger and Action Creator. The platform only facilitates pledging intent to heritage actions and does transfer any monies between the Action Pledger and the Action Creator. Fund4ACT accepts no responsibility for how any eventual pledged funds are transferred and or spent on the advertised heritage actions. The ultimiate responsibilty lies between both the Action Pledger and Action Creator.

        7. Termination of Account:
        Fund4ACT reserves the right to terminate or suspend your account if there is a breach of these terms and conditions or if your group engages in activities that are harmful to the community or the platform.
        Feedback and Suggestions:

        8. Changes to Terms:
        Fund4ACT reserves the right to update these terms and conditions. Users will be notified of any changes, and continued use of the platform implies acceptance of the revised terms.

        
        Key Terms:
        Action Creator - a Fund4ACT user who represents a community group and/or organisation that wishes to advertise a fundable heritage action on the Fund4ACT Platform.
        
        Action Pledger - a Fund4ACT user who wishes to pledge towards a Heritage Action advertised on the Fund4ACT Platform.  

        
        By signing up, you acknowledge that you have read, understood, and agreed to these terms and conditions.
    </pre>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>