{{> header}}

<style>
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
</style>

<main>
    <h1>Terms and Conditions: For an Action Creator posting a heritage action on Fund4Action</h1>
    <pre>
        Key Terms:
        Action Creator - a Fund4Action user who represents a community group and/or organisation that wishes to advertise a fundable heritage action on the Fund4Action Platform.
        
        Action Pledger - a Fund4Action user who wishes to pledge towards a Heritage Action advertised on the Fund4Action Platform. 


        1. Accuracy of Information:
        By posting a new heritage action on the Fund4Action platform, you confirm that all information provided is accurate and up-to-date. Any changes to the details of your action should be promptly updated on the platform.

        2. Best Practice Guidelines:
        You acknowledge that you have read and understand the Best Practice Heritage Action Guidelines provided by Fund4Action for you heritage action's category. Following these Best Practice Heritage Action Guidelines helps support the success of your proposed heritage action.

        3. Responsibility for Content:
        As an Action Creator, you are solely responsible for the content and accuracy of the information provided in your heritage action advert. Fund4Action accepts no liability for any inaccuracies or discrepancies in the information presented.

        4.Facilitation of Pledging Intent between Action Pledger and Action Creator:
        The Fund4Action Platform serves as a facilitator for pledging intent between Action Pledger and Action Creator. The platform only facilitates pledging intent to heritage actions and does transfer any monies between the Action Pledger and the Action Creator. Fund4Action accepts no responsibility for how any eventual pledged funds are transferred and or spent on the advertised heritage actions. The ultimiate responsibilty lies between both the Action Pledger and Action Creator

        5.Compliance with Fund4Action Policies:
        Ensure that your heritage action complies with Fund4Action's policies and community guidelines. Actions that violate these terms may be subject to removal, and repeated violations may result in account suspension.

        6. Use of Images and Media:
        By uploading images or media related to your heritage action, you confirm that you have the necessary rights or permissions to use and display such content on the Fund4Action platform.

        7. Termination of Action:
        Fund4Action reserves the right to remove or suspend your heritage action if it violates these terms and conditions or if it is deemed harmful to the community or the platform.

        8. Changes to Terms:
        Fund4Action reserves the right to update these terms and conditions. Action Creators will be notified of any changes, and continued use of the platform implies acceptance of the revised terms.

        By posting this heritage action, you confirm that you have read, understood, and agreed to these terms and conditions.
    </pre>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>