{{> header}}

<style>
  #neb {
    height: 10rem;
  }
</style>

<main>

  <link rel="stylesheet" href="/styles/normform.min.css"/>

  <h1>Map your action's New European Bauhaus impacts</h1>

  {{!-- <label>Watch our video explainer of creating an action <a>here</a></label> --}}

  <svg xmlns="http://www.w3.org/2000/svg" id="neb" viewBox="250 150 325 300"><defs><style>.cls-1{fill:none;stroke:#f0f0ef;stroke-linecap:round;stroke-miterlimit:10;stroke-width:8px}.cls-2{fill:#b3b3b2;stroke-width:0}.filled-line{fill:none;stroke:#b3b3b2;stroke-linecap:round;stroke-miterlimit:10;stroke-width:8px}</style></defs><path d="m401.11 288-41 100M507.11 320l-106-32M364.11 186l37 102" class="cls-1"/><circle cx="507.26" cy="320.18" r="2.88" class="cls-2"/><circle cx="472.26" cy="309.18" r="2.88" class="cls-2"/><circle cx="437.26" cy="298.18" r="2.88" class="cls-2"/><circle cx="387.26" cy="322.18" r="2.88" class="cls-2"/><circle cx="373.26" cy="356.18" r="2.88" class="cls-2"/><circle cx="360.26" cy="388.18" r="2.88" class="cls-2"/><circle cx="390.26" cy="256.18" r="2.88" class="cls-2"/><circle cx="377.26" cy="221.18" r="2.88" class="cls-2"/><circle cx="364.26" cy="186.18" r="2.88" class="cls-2"/><path d="M376.11 348s8-26 17-36c8.06-8.95 19-22 37-24s28 7 31 11 17 22 20 29 14 28 6 45-10 18-24 26-41 11-62 3-25-26-25-26c-2-6-2-11 0-28Z" style="fill:none;stroke:#b9e3f9;stroke-miterlimit:10"/><path d="M389.11 352s1-9 5-17 8-19 9-21 3-8 7-11 12-7 29 2 35 21 39 33 6 23 5 32-8 21-25 27-38-5-45-9-17.49-13.74-21-19c-4-6-3-13-3-17Z" style="fill:#e0f2fd;stroke-width:0"/><path d="M401.11 349s1-12 10-21 18-10 26-8 20 6 28 17 4 27-4 35-17 11-28 10-22-3-27-10-6-16-5-23Z" style="fill:#97d5f2;stroke-width:0"/><path d="M428.95 286.97c-9.79-3.12-18.76-7.65-25.68-15.49-13.38-15.15-13.93-27.11-4.86-44.61 4.82-9.31 13.16-14.68 22.83-17.73 10.69-3.38 21.62-6.18 32.97-5.97 14.92.28 26.28 6.75 30.98 22.43 3.33 11.13 7.38 22.06 9.98 33.41 2.2 9.62-.56 15.63-9.22 20.2-9.22 4.86-19.26 7-29.45 8.54-3.2.48-6.45.6-9.68.88-.41.36-.91.72-1.43.63-5-.82-10.04-1.22-15.09-1.46-.53-.03-.96-.43-1.34-.82Z" style="fill:#c7e3d3;stroke-width:0"/><path d="M389.11 238s4-12 13-21c11.51-11.51 22-17 34-22s28-7 38 2 23 27 29 36 11 16 10 25-13 19-20 24-21 16-44 19-39-7-45-12-17-15.97-17-31c0-13 2-20 2-20Z" style="fill:none;stroke:#91cbae;stroke-miterlimit:10"/><path d="M406.06 255.7c.42-8.13 2.3-15.84 7.63-22.24 6.27-7.52 14.53-9.34 23.82-7.44 10.07 2.06 19.38 5.66 27.41 12.43 9.91 8.35 12.38 22.24 4.81 32.68-17.66 24.37-48.82 15.29-60.2-1.86-2.68-4.04-3.87-8.63-3.48-13.57Z" style="fill:#7bc29c;stroke-width:0"/><path d="M283.11 278s4-10 20-24 24-20 39-23 33 5 42 16 13 21 14 27 4.03 20.91 3.02 29.95S397.11 327 385.11 334s-24 14-48 9-43-18-48-27-13-19-6-38Z" style="fill:none;stroke:#f9ec62;stroke-miterlimit:10"/><path d="M293.11 287s-1-20 14-30 35-11 42-11 20 2 27 8 17 18 15 36-7 30-16 40-19 13-30 12-30-12-39-25-12-24-13-30Z" style="fill:#f7ea9d;stroke-width:0"/><path d="M375.12 297.08c.27 5.52-.62 10.7-1.41 15.91-1.25 8.25-5.72 13.51-13.84 15.56-7.43 1.88-14.76 3.9-22.65 2.51-13.58-2.4-20.55-13.06-23.15-24.64-2.15-9.59.02-18.15 6.48-25.27 5.61-6.18 12.7-10.49 20.82-12.86 5.18-1.51 10.39-2.31 15.86-1.79 8.22.78 13.02 5.38 15.49 12.84 1.93 5.82 2.77 11.82 2.41 17.74Z" style="fill:#edde66;stroke-width:0"/><path id="self-govern" d="m402.11 289-38-103" class="filled-line"/><path id="co-develop" d="m402.11 289-25-68" class="filled-line"/><path id="consult" d="m402.11 289-12-32" class="filled-line"/><path id="work_locally" d="m401.11 288 36 11" class="filled-line"/><path id="work_across_levels" d="m401.11 288 70 21" class="filled-line"/><path id="work_globally" d="m401.11 288 106 32" class="filled-line"/><path id="multi" d="m401.11 288-41 100" class="filled-line"/><path id="inter" d="m401.11 288-28 68" class="filled-line"/><path id="beyond" d="m401.11 288-14 34" class="filled-line"/></svg>

  <form class="normform">
    <br>

    <fieldset>
      <legend>Impact</legend>
      <label>Completing this section will help you increase the funding you recieve.</label>
      <br>

      <label>Beauty</label>

      {{#with actionData}}
      <input type="checkbox" id="activate" name="beauty_ambition" value="activate" {{#if beauty_ambition.[0]}}checked{{/if}}>
      <label for="activate"><b>To Activate:</b> This action considers sensory perceptions and or regional/local particularities in its design.</label>

      <input type="checkbox" id="connect" name="beauty_ambition" value="connect" {{#if beauty_ambition.[1]}}checked{{/if}}>
      <label for="connect"><b>To Connect:</b> This action provides an attractive space that brings people together and gives opportunities to learn about new ideas, places or people.</label>

      <input type="checkbox" id="integrate" name="beauty_ambition" value="integrate" {{#if beauty_ambition.[2]}}checked{{/if}}>
      <label for="integrate"><b>To Integrate:</b> This action provides participants the opportunity to question and reimagine their way of life, potentially have a postive transformative effect on the participants' lives.</label>

      <label>Sustainable</label>

      <input type="checkbox" id="repurpose" name="sustain_ambition" value="repurpose" {{#if sustain_ambition.[0]}}checked{{/if}}>
      <label for="repurpose"><b>To Repurpose:</b> This action takes into account sustainability in terms of reuse, material choices, energy use and or social use.</label>

      <input type="checkbox" id="close_loop" name="sustain_ambition" value="close_loop" {{#if sustain_ambition.[1]}}checked{{/if}}>
      <label for="close_loop"><b>To Close the Loop:</b> This action takes into account circular economy principles regarding the closed-loop material cycle and or looks to measure its impacts using different sustainability metrics.</label>

      <input type="checkbox" id="regenerate" name="sustain_ambition" value="regenerate" {{#if sustain_ambition.[2]}}checked{{/if}}>
      <label for="regenerate"><b>To regenerate:</b> This action is paradigm shifting and gives back more than it takes in, focusing on regeneration.</label>

      <label>Together</label>

      <input type="checkbox" id="include" name="together_ambition" value="include" {{#if together_ambition.[0]}}checked{{/if}}>
      <label for="include"><b>To Include:</b> This action is affordable and equally accessible to all communities.</label>

      <input type="checkbox" id="consolidate" name="together_ambition" value="consolidate" {{#if together_ambition.[1]}}checked{{/if}}>
      <label for="consolidate"><b>To Consolidate:</b> This action helps overcome segregation between different communities.</label>

      <input type="checkbox" id="transform" name="together_ambition" value="transform" {{#if together_ambition.[2]}}checked{{/if}}>
      <label for="transform"><b>To Transform:</b> This action promotes new ways of communities living together and challenges unjust social models.</label>

      <label>Participatory Process</label>

      <input type="checkbox" id="consult" name="particip_ambition" value="consult" {{#if participatory_process_ambition.[0]}}checked{{/if}}>
      <label for="consult"><b>To Consult:</b> This action keeps stakeholders informed and allows them to contribute.</label>

      <input type="checkbox" id="co-develop" name="particip_ambition" value="co-develop" {{#if participatory_process_ambition.[1]}}checked{{/if}}>
      <label for="co-develop"><b>To Co-Develop:</b> This action includes stakeholders in the decision making process and enables them to shape the final action's output.</label>

      <input type="checkbox" id="self-govern" name="particip_ambition" value="self-govern" {{#if participatory_process_ambition.[2]}}checked{{/if}}>
      <label for="self-govern"><b>To Self-Govern:</b> This action empowers stakeholders to take control and create a sustained grass-roots initiative beyond the initial action's implementation.</label>

      <label>Multilevel Engagement</label>

      <input type="checkbox" id="work_locally" name="multi_level_engagement" value="work_locally" {{#if multi_level_engagement_ambition.[0]}}checked{{/if}}>
      <label for="work_locally"><b>To Work Locally:</b> This action interacts with local networks and communities.</label>

      <input type="checkbox" id="work_across" name="multi_level_engagement" value="work_across" {{#if multi_level_engagement_ambition.[1]}}checked{{/if}}>
      <label for="work_across"><b>To Work Across:</b> This action interacts with networks and/or institutions that are active beyond the scale of the action itself (e.g. from local to regional, from national to international)</label>

      <input type="checkbox" id="work_globally" name="multi_level_engagement" value="work_globally" {{#if multi_level_engagement_ambition.[2]}}checked{{/if}}>
      <label for="work_globally"><b>To Work Globally:</b> This action aims at achieving a global transformational impact.</label>

      <label>Transdisciplinary</label>

      <input type="checkbox" id="multidisciplinary" name="transdiciplinary" value="multidisciplinary" {{#if transdiciplinary_ambition.[0]}}checked{{/if}}>
      <label for="multidisciplinary"><b>Multidisciplinary:</b> This action involves people from different disciplines working in parallel.</label>

      <input type="checkbox" id="interdisciplinary" name="transdiciplinary" value="interdisciplinary" {{#if transdiciplinary_ambition.[1]}}checked{{/if}}>
      <label for="interdisciplinary"><b>Interdisciplinary:</b> This action involves people from different disciplines interacting and working together on it and allows for new knowledge creation.</label>

      <input type="checkbox" id="beyond_disciplinary" name="transdiciplinary" value="beyond_disciplinary" {{#if transdiciplinary_ambition.[2]}}checked{{/if}}>
      <label for="beyond_disciplinary"><b>Beyond Disciplinary:</b> This action transcends the traditional discipline boundaries, giving equal value to formal and informal knowledge, and seeks a more holistic and comprehensive understanding.</label>
      {{/with}}
    </fieldset>

    <input type="submit" formmethod="post" value="Submit">
  </form>
</main>
