{{> header}}

<main>
  <h1>Before you start...</h1>
  <p>To register as an Action Creator you will need:</p>
  <ul>
    <li>public facing email address
    <li>constitution
    <li>registered office
    <li>bank account
  </ul>

  <a href="/profile/update-action-creator/">Continue</a>
</main>
