{{> header}}

<style>
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
</style>

<main>
    <h1>Best Practice For Each Action Category</h1>
    <ul>
    <li><a href="/resource/action-categories/community-engagement">Community Engagement - Best Practice</a></li>
    <li><a href="/resource/action-categories/cultural-celebrations">Cultural Celebrations - Best Practice</a></li>
    <li><a href="/resource/action-categories/ecosystem-conservation">Ecosystem Conservation - Best Practice</a></li>
    <li><a href="/resource/action-categories/education-and-awareness">Education and Awareness - Best Practice</a></li>
    <li><a href="/resource/action-categories/environmental-education">Environmental Education - Best Practice</a></li>
    <li><a href="/resource/action-categories/green-spaces-and-biodiversity">Green Spaces and Biodiversity - Best Practice</a></li>
    <li><a href="/resource/action-categories/historic-building-preservation">Historic Building Preservation - Best Practice</a></li>
    <li><a href="/resource/action-categories/language-and-tradition">Language and Tradition - Best Practice</a></li>
    <li><a href="/resource/action-categories/storytelling-and-documentation">Storytelling and Documentation - Best Practice</a></li>
    <li><a href="/resource/action-categories/traditional-cuisine-initiatives">Traditional Cuisine Initiatives - Best Practice</a></li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>