{{> header}}

<main>
    <h1>Community Group Constitution Template</h1>

    <p>
        *Please note that this template is just a starting point and may require customization to suit the specific needs and legal requirements of your community group. Always consult legal professionals to ensure that your constitution complies with relevant laws and regulations.<br>
        <br>
        Constitution of [Community Group Name]<br>
        Name: [Community Group Name] Registered Office: [Address] Registration Number: [If applicable]<br>
        <br>
        1. Name and Purpose:<br>
        1.1 The name of the organization shall be [Community Group Name], hereinafter referred to as "the Group."<br>
        1.2 The purpose of the Group shall be [briefly describe the purpose and goals of the community group].<br>
        <br>
        2. Membership:<br>
        2.1 Membership of the Group is open to all individuals who support the objectives and goals of the Group.<br>
        2.2 Membership may be terminated by a majority vote of the Committee [or appropriate governing body] for reasons such as non-compliance with the constitution or conduct detrimental to the Group's objectives.<br>
        <br>
        3. Committee:<br>
        3.1 The Group shall be managed by a Committee consisting of [number] members elected by the general membership.<br>
        3.2 The Committee shall include the following positions: Chairperson, Vice-Chairperson, Secretary, Treasurer, and [additional positions, if applicable].<br>
        3.3 The Committee shall meet [regularly/frequency] to oversee the activities of the Group.<br>
        <br>
        4. General Meetings:<br>
        4.1 The Group shall hold an Annual General Meeting (AGM) once a year, where reports on the Group's activities and financial status shall be presented.<br>
        4.2 Special General Meetings may be called by the Committee or upon a written request signed by [number]% of the members.<br>
        <br>
        5. Finances:<br>
        5.1 The Group shall maintain accurate financial records and prepare an annual financial statement.<br>
        5.2 The Treasurer shall present the annual financial statement at the AGM for approval.<br>
        5.3 All funds raised or received by the Group shall be applied towards the objectives of the Group.<br>
        <br>
        6. Amendments to the Constitution:<br>
        6.1 This constitution may be amended by a two-thirds majority vote at a General Meeting.<br>
        6.2 Proposed amendments shall be submitted in writing to the Committee and circulated to the membership at least [number] weeks prior to the General Meeting.<br>
        <br>
        7. Dissolution:<br>
        7.1 The Group may be dissolved by a two-thirds majority vote at a General Meeting.<br>
        7.2 In the event of dissolution, any remaining assets shall be transferred to [charitable organization name and registration number] with similar objectives, as decided by the members.<br>
        <br>
        8. Adoption:<br>
        This constitution was adopted by the members of [Community Group Name] at a General Meeting held on [date].<br>
        <br>
        Signed by:<br>
        [Chairperson's Signature]<br>
        [Date]<br>
        [Secretary's Signature]<br>
        [Date]<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>
</main>