{{> header}}

<style>
    #faqs-container {
        display: flex;
        flex-direction: column;
        gap:2rem;
    }

    details {
        width: 100%;
        text-align: left;
        border-radius: 1.5rem;
        outline-style: solid;
        outline-color: lightgray;
        outline-width: 2px;
    }

    details summary {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 125%;
        display: flex;
        padding: 2.5rem;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    details[open] summary {padding-bottom: 0;}

    summary .drop-icon {
        min-width: 1rem;
        height: 1rem;
        background: #232323;
        border-radius: 6.25rem;
        padding: 0.625rem;
        color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        box-sizing: content-box;
    }

    details p, details pre {padding: 0 2.5rem 2.5rem 2.5rem; margin-bottom: 0;}
    .drop-icon::before{content:'+';bottom:-.05rem;position:relative;}
    details[open] .drop-icon::before{content:"-";top:-.1rem;position:relative;left:-.05rem;}

    footer { min-height: 15rem; background: #191919; color: #fdfdfd; padding: 2rem 1rem; display: flex; flex-direction: column; justify-content: space-between; gap: 2rem;}
    footer p, footer h3 {margin:1rem 0;}
    aside a, aside a:visited, footer a, footer a:visited {color: #fdfdfd;}
    #text-below-faq{margin-top:1rem;}
    pre { white-space: pre-wrap; line-height: 1.5rem; margin-top: 32px;}

    @media only screen and (min-width: 1000px) {
        footer {
            padding: 2rem 7rem;
            flex-direction: row;
            gap: 0;
        }

        footer a {
            align-self: flex-end;
            justify-self: flex-end;
        }
    }
</style>

<main>
    <section>
        <h1>FAQs</h1>
        <div id="faqs-container">
            <details>
                <summary>Does Fund4Action process donations? <span class="drop-icon"></span></summary>
                <p>No. The Fund4Action platform facilitates the expression of pledging intent between Action Pledgers and Action Creators. It does not handle or transfer any funds between parties. Fund4Action accepts no responsibility for how pledged funds are transferred or used. The ultimate responsibility lies with the Action Pledger and Action Creator to manage and fulfil any financial transactions related to the heritage action.</p>
            </details>
            <details>
                <summary>How do I know an Action Creator is competent? <span class="drop-icon"></span></summary>
                <pre>All Action Creators must complete a verification process when signing up. This includes providing:

A group constitution

A valid company or community group registration number

Proof of a bank account in the group’s name

We understand that not all community groups are familiar with these administrative steps, so the platform offers ‘How-To Explainers’ to support groups through the verification process.

In addition, Fund4Action provides best practice guidance for different types of heritage actions — including advice on insurance, costings, and delivery planning — to ensure actions are well thought out and responsibly implemented.</pre>
            </details>
            <details>
                <summary>What is HeritACT? <span class="drop-icon"></span></summary>
                <p><a href="https://www.heritact.eu/" target="_blank">HeritACT</a> is a European-funded project that activates cultural heritage through engaging, sustainable, and inclusive experiences. It promotes innovative architectural design and community-based cultural practices that empower citizens to take common action for the future of their heritage.</p>
            </details>
        </div>
        <p id="text-below-faq">If you have any other questions about Fund4Action please reach out to hello@act-studio.com</p>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>

</main>
<hr>
<footer>
  <div>
  <h3>Contact</h3>
  <p>hello@act-studio.com</p>
  </div>
  <a href="/resource/privacy-policy" target="_blank">Privacy Policy</a>
</footer>
