<main>
  <link rel="stylesheet" href="/styles/normform.min.css"/>

  <h1>Verify your organisation</h1>

  <form class="normform" >
    <label for="registered-office">Registered Office Address</label>
    <textarea rows="5" id="registered-office" name="registered-office" required></textarea>

    <fieldset>
      <legend>Primary Point of Contact</legend>
      <label for="ppoc-name">Full Name</label>
      <input type="text" id="ppoc-name" name="ppoc-name" required>

      <label for="ppoc-role">Role</label>
      <input type="text" id="ppoc-role" name="ppoc-role" required>

      <label for="ppoc-email">Email</label>
      <input type="email" id="ppoc-email" name="ppoc-email" required>

      <label for="ppoc-phone">Phone Number</label>
      <input type="text" pattern="^(\+|00)[1-9][0-9 \-\(\)\.]{7,32}$" id="ppoc-phone" name="ppoc-phone" required>
    </fieldset>

    <fieldset>
      <legend>Secondary Point of Contact</legend>
      <label for="spoc-name">Full Name</label>
      <input type="text" id="spoc-name" name="spoc-name">

      <label for="spoc-role">Role</label>
      <input type="text" id="spoc-role" name="spoc-role">

      <label for="spoc-email">Email</label>
      <input type="email" id="spoc-email" name="spoc-email">

      <label for="spoc-phone">Phone Number</label>
      <input type="text" pattern="^(\+|00)[1-9][0-9 \-\(\)\.]{7,32}$" id="spoc-phone" name="spoc-phone">
    </fieldset>

    <label for="registration-number">Company Number</label>
    <input type="text" id="company-number" name="company-number">

    <label for="constitution">Upload Your Organisation Constitution</label>
    <input type="file" accept=".pdf" id="constitution" name="constitution">

    <label for="bank-proof">Upload Your Proof of Bank Account</label>
    <input type="file" accept=".pdf" id="bank-proof" name="bank-proof">

    <input type="submit" formmethod="post" value="Submit">
  </form>
</main>
