{{> header}}

<main>
    <h1>Writing a Strong Mission Statement for a Community Group: A Quick Guide</h1>

    <p>
        Crafting a mission statement for your community group? Keep it brief and impactful:<br>
        <br>
        1. Understand Community Needs:<br>
        Address the specific needs and aspirations of your community.<br>
        <br>
        2. Champion Inclusive Values:<br>
        Embrace values like collaboration, empathy, and unity.<br>
        <br>
        3. Empower Community Members:<br>
        Commit to empowering individuals and groups within your community.<br>
        <br>
        4. Local Impact Focus:<br>
        Clearly state the positive impact you aim to make locally.<br>
        <br>
        5. Keep it Simple:<br>
        Use accessible language for a diverse audience.<br>
        <br>
        6. Inspire Collective Action:<br>
        Motivate community members to actively participate and collaborate.<br>

        7. Reflect Community Voice:<br>
        Involve community input for an authentic and representative mission.<br>
        <br>
        <br>
        Example: Heritage Harmony Society Mission Statement<br>
        <br>
        "Preserving our cultural roots and fostering community pride, Heritage Harmony Society is committed to celebrating and safeguarding our shared heritage. Guided by values of inclusivity, appreciation, and preservation, we aim to connect generations, educate, and actively engage our community in the rich tapestry of our cultural history. Through collaborative efforts, Heritage Harmony Society strives to ensure the legacy of our heritage thrives for the benefit of current and future generations."
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>
</main>