{{> header}}
<style>
  main{padding: 0 1rem;}
  #thank-you-message{
    display: flex;
    gap:.5rem;
    align-items: center;
  }
  #thank-you-message p {
    margin:0;
  }
  @media only screen and (min-width: 1000px) {
    main{padding: 0;}
  }
</style>
<main>
<h1>Pledge Created</h1>
<span id="thank-you-message">
  <svg width="40" height="40" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.243 8.243 8 15l6.757-6.757a4.243 4.243 0 0 0 1.243-3v-.19A4.052 4.052 0 0 0 8.783 2.52L8 3.5l-.783-.98A4.052 4.052 0 0 0 0 5.053v.19c0 1.126.447 2.205 1.243 3Z" fill="#30732F"/></svg>
  <p>Thank you for your pledge, and for supporting a local hertiage action!</p>
</span>
<p>The action owner will reach out to discuss payment via your email: {{donorEmail}}</p>
<a href="/action/{{slug}}">Back to action</a>
</main>
