{{> header}}

<style>
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
</style>

<main>
    <h1>Privacy Policy for Fund4ACT</h1>
    <pre>   
        Introduction
        
        This Privacy Policy outlines the practices of Fund4ACT ("we," "us," "our") regarding the collection, use, and disclosure of email addresses gathered from users ("you") of our platform.
        Information Collection

            Types of Information Collected: We only collect email addresses.
            Method of Collection: Email addresses are collected when users voluntarily provide them during the usage of our platform or through direct communication with us.

        Use of Information

            Purpose: The email addresses collected are used solely for the purpose of communicating with users regarding our services, updates, and relevant notifications.
            No Further Processing: We do not use email addresses for any other purpose, nor do we process this information further.

        Data Sharing and Disclosure

            No Third-Party Sharing: We do not share, sell, rent, or trade email addresses with third parties.
            Legal Requirements: We may disclose email addresses if required by law or if necessary to protect our rights, property, or safety, or that of our users or others.

        Data Security

            Security Measures: We implement appropriate technical and organizational measures to ensure the security of the email addresses collected.
            Data Breach Protocol: In the unlikely event of a data breach, we will take immediate steps to mitigate any harm and will notify affected users as required by law.

        User Rights

            Access and Control: Users have the right to access and update their email address at any time.
            Opt-out and Removal: Users can opt out of receiving communications from us or request the deletion of their email address from our records.

        Cookies and Tracking Technologies

            No Cookies: We do not use cookies or similar tracking technologies for collecting personal information on our platform.

        Policy Updates

            Changes to Policy: We reserve the right to modify this Privacy Policy at any time. All changes will be effective immediately upon posting to the platform.
            Notification of Changes: Users are encouraged to periodically review this Privacy Policy for any updates.

        Contact Information

            Queries and Complaints: For any questions or concerns regarding this Privacy Policy or our handling of email addresses, please contact us at [Your Contact Information].

        Conclusion
        We are committed to protecting your privacy and handling your email address with care and respect.

    This Privacy Policy is effective as of 09/01/2024.

    </pre>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>