{{> header}}

<style>
    pre {
        white-space: pre-line;
        background: none;
        border: none;
        font-family: "Arial", sans-serif;
    }
</style>

<main>
    <h1>Link your google drive file in Fund4ACT</h1>
    <pre>
        1. Upload your file to google drive - <a href="https://support.google.com/drive/answer/2424368" target="_blank">Google instructions on how to upload a file here</a>

        2. Share your google drive file publically - <a href="https://support.google.com/drive/answer/2494822" target="_blank">Google instructions on how to share your file here</a> 

        3. Copy the file link

        4. Paste link into the Fund4ACT form
    </pre>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>