<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fund4Act</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Find impactful local actions that are looking for fundraising">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="icon" href="/favicon.png">
        <link rel="stylesheet" href="/styles/vanilla.css"/>
        <script defer src="https://cloud.umami.is/script.js" data-website-id="623f796b-f7cb-4c0c-b7aa-464c611857e2"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
