<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fund4Act</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Find impactful local projects that are looking for fundraising">
        <link rel="icon" type="image/png" sizes="32x32" href="data:,">
        <link rel="icon" type="image/png" sizes="16x16" href="data:,">
        <link rel="shortcut icon" href="data:,">

        <link rel="stylesheet" href="/styles/vanilla.css"/>

    </head>
    <body>
        {{{body}}}
    </body>
</html>
